body {
    background-color: rgb(152, 234, 237);
    color: black;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: rgb(78, 77, 77);
    color: aliceblue;
    font-size: 20px;
    border: 1em rgb(254, 175, 225);
}

nav {
    float: left;
    width: 15%;
}
main {
    float: left;
    width: 70%;
}
aside {
    float: left;
    width: 15%;
    
}