body {
    background-color: rgb(152, 234, 237);
    color: black;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color: rgb(86, 81, 81);
    font-size: 50px;
    border: 1em white;
}
